/* ====== CUSTOM PROPERTY ====== */

:root {
  /* colors */
  --color-primary: hsl(181, 80%, 25%);
  --color-secondary: hsl(276, 3%, 39%);
  --color-tertiary: hsl(165, 7%, 55%);
  --color-background: hsl(180, 3%, 92%);
  --color-font-h: hsl(0, 0%, 13%);
  --color-font-p: hsl(276, 3%, 39%);
  --color-white: hsl(0, 0%, 100%);

  /* typography */
  --ff-be-vietnam-pro: 'Be Vietnam Pro', sans-serif;

  --fs-1: 1.875rem;
  --fs-2: 1.5rem;
  --fs-3: 1.063rem;
  --fs-4: 0.875rem;
  --fs-5: 0.813rem;

  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semibold: 600;
  --fw-bold: 700;

  /* spacing */
  --section-padding: 60px;

  /* radius */
  --radius-4: 4px;
  --radius-8: 8px;
  --radius-12: 12px;

  /* transition */
  --transition: 0.25s ease;
  --transition-2: 0.5s ease;
}

/* ====== RESET ====== */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

a,
img,
span,
input,
button,
ion-icon {
  display: block;
}

input,
button {
  background: none;
  border: none;
  font: inherit;
}

button {
  cursor: pointer;
}

input {
  width: 100%;
}

html {
  font-family: var(--ff-be-vietnam-pro);
  color: var(--font);
  scroll-behavior: smooth;
}

body {
  background: var(--color-white);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: hsl(0, 0%, 98%);
}

::-webkit-scrollbar-thumb {
  background-color: hsl(0, 0%, 80%);
}

::-webkit-scrollbar-thumb:hover {
  background-color: hsl(0, 0%, 70%);
}

/* ====== REUSED STYLE ====== */
.container {
  padding-inline: 15px;
}

.w-100 {
  width: 100%;
}

.h1,
.h2,
.h3 {
  color: var(--color-font-h);
  line-height: 1.2;
}

.h1 {
  font-size: var(--fs-1);
}

.h2 {
  font-size: var(--fs-2);
}

.h3 {
  font-size: var(--fs-3);
}

.section-text,
.features .card-text {
  color: var(--color-font-p);
  font-size: var(--fs-4);
  line-height: 1.8;
  margin-bottom: 15px;
}

.btn {
  font-size: var(--fs-4);
  font-weight: var(--fw-medium);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  padding: 14px 25px;
  border-radius: var(--radius-4);
  transition: var(--transition);
}

.btn-primary {
  color: var(--color-white);
  background: var(--color-primary);
}

.btn>ion-icon {
  font-size: 16px;
}

.btn-primary:is(:hover, :focus) {
  background: var(--color-secondary);
}

.btn-secondary {
  background: var(--color-tertiary);
  color: var(--color-white);
}

.btn-secondary:is(:hover, :focus) {
  background: var(--color-secondary);
}

.section-subtitle {
  color: var(--color-font-h);
  font-size: var(--fs-5);
  font-weight: var(--fw-bold);
  margin-bottom: 15px;
}

/* ====== HEADER ====== */
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--color-white);
  box-shadow: 0 2px 25px hsla(0, 0%, 0%, 0.1);
  padding-block: 16px;
  overflow: hidden;
  transition: 0.35% ease-out;
  z-index: 4;
}

.header.nav-active {
  height: 250px;
  transition: 0.5% ease-out;
}

.header.active {
  position: fixed;
  animation: fade-in 0.5s ease forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  height: 50px;
}

.nav-toggle-btn {
  color: hsla(0, 0%, 0%, 0.8);
  font-size: 35px;
  padding-inline: 5px;
}

.nav-toggle-btn .open,
.nav-toggle-btn.active .close {
  display: block;
}

.nav-toggle-btn .close,
.nav-toggle-btn.active .open {
  display: none;
}

.navbar {
  position: absolute;
  top: 70px;
  left: 0;
  width: 100%;
  background: var(--color-white);
  padding-block: 10px;
  visibility: hidden;
}

.header.nav-active .navbar {
  visibility: visible;
}

.navbar-link {
  color: var(--color-primary);
  font-size: var(--fs-4);
  font-weight: var(--fw-medium);
  padding: 6px 16px;
  transition: var(--transition);
  opacity: 0;
}

.header.nav-active .navbar-link {
  opacity: 1;
}

.navbar-link:is(:hover, :focus) {
  color: var(--color-secondary);
}

.header .btn {
  display: none;
}

/* ====== HERO ====== */

.hero {
  background: #ebecec;
  padding-top: 130px;
  padding-bottom: var(--section-padding);
}

.hero .shape {
  display: none;
}

.hero-banner {
  margin-bottom: 30px;
}

.hero-content {
  text-align: center;
}

.hero-title .hero .section-text {
  margin-bottom: 20px;
}

.hero .btn {
  margin-inline: auto;
}

/* ====== FEATURES ====== */
.features {
  padding-block: var(--section-padding);
}

.features .section-title {
  margin-bottom: 40px;
}

.features :is(.section-subtitle, .section-title) {
  text-align: center;
}

.features-list {
  display: grid;
  gap: 25px;
}

.features-card {
  border: 1px solid hsl(0, 0%, 90%);
  padding: 30px;
  text-align: center;
}

.features-card .card-icon {
  max-width: max-content;
  margin-inline: auto;
  margin-bottom: 30px;
}

.features-card .card-title {
  margin-bottom: 15px;
}

.features-card .card-link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  color: var(--color-primary);
  font-size: var(--fs-5);
  font-weight: var(--fw-semibold);
  transition: var(--transition);
}

.features-card .card-link:is(:hover, :focus) {
  gap: 10px;
  color: var(--color-tertiary);
}

/* ====== SERVICES ====== */

.service {
  background: var(--color-background);
  padding-block: var(--section-padding);
}

.service-banner {
  margin-bottom: 30px;
}

.service-content:first-of-type {
  padding-bottom: 50px;
  border-bottom: 1px solid hsla(0, 0%, 0%, 0.05);
  margin-bottom: 50px;
}

.service .section-title {
  margin-bottom: 30px;
}

.service-item {
  background: var(--color-white);
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 12px 20px;
  box-shadow: 0 5px 25px 10px hsla(0, 0%, 0%, 0.02);
  border-radius: var(--radius-8);
}

.service-item:not(:last-child) {
  margin-bottom: 20px;
}

.service-item-icon {
  background: var(--color-primary);
  color: var(--color-white);
  min-width: 30px;
  height: 30px;
  display: grid;
  place-items: center;
  border-radius: 50%;
  transition: var(--transition);
}

.service-item-icon ion-icon {
  --ionicon-stroke-width: 50px;
}

.service-item:hover .service-item-icon {
  background: var(--color-tertiary);
  color: var(--color-white);
}